*.class
Aprendices
/18 - Registro Usuarios/build/
/18 - Registro Usuarios/dist/
/18 - Registro Usuarios/nbproject/private/
/13-AppPaqueadero/nbproject/private/
/13-AppPaqueadero/build/
/ConsumoAPI/nbproject/private/
/ConsumoAPI/build/
/15-TablaConBotones/nbproject/private/
/15-TablaConBotones/build/
